.input-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid var(--color-gray);
  border-radius: 64px;
  padding: 0 8px;
  color: var(--color-black);
}

.input-icon {
  width: 24px;
  height: 24px;
  color: var(--color-gray);
  transition: all 0.1s ease-out;
}

.input-field {
  height: 100%;
  width: 89%;
  padding: 12px 0;
}

.input-field::placeholder {
  color: var(--color-gray);
}

.input-container:focus-within .input-icon {
  color: var(--color-principal);
}
