.btn {
  padding: 12px;
  border-radius: 64px;
  text-transform: uppercase;
  font-weight: 600;
}

.btn--principal {
  background: var(--gradient-principal);
  color: var(--color-white);
}

.btn--secondary {
  background-color: transparent;
  color: var(--color-black);
  border: 1px solid var(--color-black);
}

.btn--disabled {
  background-color: var(--color-gray);
  color: var(--color-white);
  cursor: not-allowed;
}
