.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
}

.text {
  color: var(--color-gray);
  font-size: var(--font-xs);
  font-weight: 300;
}

.github-icon {
  color: var(--color-gray);
  font-size: var(--font-sm);
  transition: all 0.3s ease-out;
}

.link:hover .github-icon {
  color: var(--color-principal);
}
