.order-item {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: #f7f7f7;
  border: 2px solid transparent;
  transition: all 0.2s ease-out;
}

.order-item:hover {
  border-color: var(--color-principal);
}

.order-item:hover .material-symbols-rounded {
  color: var(--color-principal);
}

.order-item__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.order-item__header > span {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--color-principal);
}

.order-item__price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.1rem;
}

.order-item__price > h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-black);
}

.order-item__price > span {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--color-principal);
}

.order-item__address {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.order-item-address__item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.order-item-address__item .material-symbols-rounded {
  font-size: 1.3rem;
  color: var(--color-gray);
  transition: all 0.2s ease-out;
}

.order-item-address__item span:nth-child(2) {
  font-size: 0.9rem;
  color: var(--color-black);
}
