body {
  margin: 0;
  overflow-x: hidden;
}

* {
  font-family: var(--main-font);
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}
