* {
  font-family: var(--main-font);
}

/* Scrollbar Customization */
*::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #c6c6c686;
  border-radius: 100%;
}
