.products-container {
  display: grid;
  grid-template-columns: 100%;
  column-gap: 1.2rem;
  row-gap: 4rem;
  place-items: center;
  padding: 0 2rem;
  margin-top: -11rem;
}

@media screen and (min-width: 668px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 6rem;
  }
}

@media screen and (min-width: 1024px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1224px) {
  .products-container {
    padding: 0 6rem;
  }
}
