.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 0;
}

.navbar {
  width: 95%;
  max-width: var(--container-max-width);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navbar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__top .navbar__links {
  display: none;
}

.navbar__buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-buttons__item {
  position: relative;
  color: var(--color-black);
}
.navbar-buttons__item .material-symbols-rounded {
  font-size: 1.75rem;
}

.navbar-buttons__item small {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: var(--color-principal);
  color: var(--color-white);
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.navbar-links__item {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-black);
  text-transform: uppercase;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.modal__close-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.modal__close-btn .material-symbols-rounded {
  font-size: 1.6rem;
  color: var(--color-black-variant);
}

.modal__full-name {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.modal__full-name .material-symbols-rounded {
  font-size: 2.4rem;
  color: var(--color-black);
}

.modal__full-name span:nth-child(2) {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color-black);
}

.modal__info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.modal-info__item {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.modal-info__item .material-symbols-rounded {
  font-size: 1.2rem;
  color: var(--color-principal);
}

.modal-info__item span:nth-child(2) {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-black);
}

.modal__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  width: 100%;
  padding: 0.8rem 0;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 10rem;
}

.modal__btn .material-symbols-rounded {
  font-size: 1rem;
}

@media screen and (min-width: 678px) {
  .navbar__top .navbar__links {
    display: flex;
  }

  .navbar__links.mobile {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .navbar-container {
    padding: 2rem 0;
  }
}
